{% include 'ide/main_page.html' %}
{% block body %}
        <div class="container">
            <div class="imagebg"></div>
            <div class="row " style="margin-top: 30px">
                <div class="col-md-12 form-container">
                    <h2 style="padding-top: 30px">ML Recommendation</h2>
                    <p> Please provide required details below: </p>
                    <form role="form" method="post" id="ml_recommendation" action="/ide/ml_recommendation/">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="name"> Dataset URL (Google Drive)</label>
                                <input type="text" class="form-control" id="drive_url" name="drive_url" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="name"> Dataset Name</label>
                                <input type="text" class="form-control" id="dataset_name" name="dataset_name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="name"> Email</label>
                                <input type="text" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group" style="border: solid 1px black">
                                <label for="comments"> Pre-Processing Code</label>
                                <textarea class="form-control" type="textarea" name="pre_process_code" id="pre_process_code" placeholder="Your Comments" >
import pandas as pd
from pandas import DataFrame
from matplotlib import pyplot as plt
import seaborn as sns
from fpdf import FPDF
from algorithm import knn,naive,SVM,nn
import time

def updateDataset(check, data):
    temp=[]
    for i in range(len(check)):
        if check[i] == 1:
            temp.append(data[i])
    return temp

def updateColumn(check, column):
    temp=[]
    for i in range(len(check)):
        if check[i] == 1:
            temp.append(column[i])
    return temp

def checkData(data,length):
    temp=[]
    for i in range(length):
        try:
            float(data[i][0])
            temp.append(1)
        except :
            temp.append(0)
    return temp

def convertData(data):
    temp=[]
    length = len(data[0].split(","))
    for i in range(length):
        test=[]
        for j in range(len(data)):
            test.append(data[j].split(',')[i])
        temp.append(test)
    return temp

if __name__ == '__main__':

    filename='data/iris.csv'
    f=open('{}'.format(filename) ,'r')
    data= f.readlines()
    f.close()


    column=data[0].split(",")
    column[-1] =column[-1].replace('\n','')
    data=data[1:]
    data=convertData(data)
    check = checkData(data,len(column))
    newColumn = updateColumn(check,column)
    newData = updateDataset(check,data)
    df = DataFrame(newData)
    df= df.transpose()
    df= df.apply(pd.to_numeric)
    correlation = df.corr()
    sns.heatmap(correlation,xticklabels=newColumn,yticklabels=newColumn)
    plt.savefig('data/test.jpg')
    details(data,df,newColumn,'data/test.jpg')
</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button type="submit" class="btn btn-lg btn-warning btn-block"  >RUN </button>
                            </div>
                        </div>
                    </form>
                    <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Posted your feedback successfully!</h3> </div>
                    <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
                </div>
            </div>
        </div>
<script>
  var editor = CodeMirror.fromTextArea(pre_process_code, {
    lineNumbers: true,
      mode: 'text/x-python',
      autoCloseBrackets: true,
  });
</script>
{% endblock %}